{{template "base" .}}

{{define "content"}}
    <div class="container mt-4">

        <div class="row">
            <div class="col">
                <img src="/static/images/generals-quarters.png"
                     class="img-fluid img-thumbnail mx-auto d-block room-image">
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <h1>Cuartos generales</h1>
                <p>La mejor manera de encontrarte a ti mismo es perderte en el servicio de lujo de nuestros hoteles.
                    La mejor manera de encontrarte a ti mismo es perderte en el servicio de lujo de nuestros hoteles
                    La mejor manera de encontrarte a ti mismo es perderte en el servicio de lujo de nuestros hoteles
                    La mejor manera de encontrarte a ti mismo es perderte en el servicio de lujo de nuestros hoteles
                    La mejor manera de encontrarte a ti mismo es perderte en el servicio de lujo de nuestros hoteles
                    La mejor manera de encontrarte a ti mismo es perderte en el servicio de lujo de nuestros hoteles
                    La mejor manera de encontrarte a ti mismo es perderte en el servicio de lujo de nuestros hoteles
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <a id="check-availability-button" href="#!" class="btn btn-success">Revisar cuartos disponibles</a>
            </div>
        </div>

    </div>
{{end}}

{{define "js"}}
    <script>
        document.getElementById('check-availability-button').addEventListener('click', function () {

            let html = `
                    <form id="check-availability" action="" method="post" novalidate class="needs-validation search-form-modal-width">
                        <div class="row">
                            <div class="col">
                                <div class="row" id="reservation-dates-modal">
                                    <div class="col">
                                        <input disabled type="text" required class="form-control" name="start" id="start" placeholder="Llegada">
                                    </div>
                                    <div class="col">
                                        <input disabled type="text" required class="form-control" name="end" id="end" placeholder="Salida">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                `

            attention.custom({
                msg: html,
                title: "Selecciona las fechas",
                willOpen: () => {
                    const elem = document.getElementById('reservation-dates-modal');
                    const rangePciker = new DateRangePicker(elem, {
                        format: 'mm-dd-yyyy',
                        showOnFocus: true,
                    })
                },
                didOpen: () => {
                    document.getElementById('start').removeAttribute('disabled');
                    document.getElementById('end').removeAttribute('disabled');
                },
                callback: function (result) {
                    let form = document.getElementById('check-availability');

                    let formData = new FormData(form);
                    formData.append("csrf_token", "{{.CSRFToken}}")

                    fetch('/search-availability-json', {
                        method: 'POST',
                        body: formData,
                    })
                        .then(res => res.json())
                        .then(data => console.log(data))
                        .catch(err => console.log(err))
                }
            });
        });
    </script>

{{end}}
